<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HuynhTheVinh_2001210660_Linq.Properties.Settings.QLSINHVIENConnectionString"
            connectionString="Data Source=A102PC30\CSSQL08;Initial Catalog=QLSINHVIEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>